.full-page {
	height: 80%;
	display: flex;
	align-content: center;
	text-align: center;
	align-items: center;
}

.container-fluid {
	background-color: $himmelsbla;
	display: flex;
	text-align: center;
}
body{
	color: white;
}