/*Text White*/
.has-text-white-background-color {
	background-color: #FFFFFF;
}
.has-text-white-color {
	color: #FFFFFF;
}

/*Primary*/
.has-primary-background-color {
	background-color: #203B8C;
}
.has-primary-color {
	color: #203B8C;
}

/*Sky Blue*/
.has-skysblue-background-color {
	background-color: #00A0D2;
}
.has-skyblue-color {
	color: #00A0D2;
}
