.contact-form {
	background-color: $himmelsbla;
	display: flex;
}
#contact-form-wrapper {
	display: flex;
	flex-direction: column;
}

#front-page-contact{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}